$darkBlueNav: #252931;
$darkColor: #23262b;
$darkColor1: #232529;
$lightBlueNotification: #00a6ca;
$lightBlue: #01bdfe;
$lightBlue1: #2cc1db;
$white: #ffffff;
$white1: #f8fdfe;
$inactive: #51545a;


$roboto: 'Roboto', sans-serif;