* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #23262b;
}

.blue {
  color: #01bdfe;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1700px) {
  .container {
    max-width: 90%;
  }
}

.hero__header {
  background-color: #252931;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hero {
  z-index: 100;
  position: relative;
  height: 100vh;
  background: linear-gradient(70deg, #23262a 0%, rgba(35, 38, 42, 0.9) 15%, rgba(35, 38, 42, 0.6) 30%, rgba(0, 169, 202, 0.2) 70%, rgba(0, 169, 202, 0.9) 100%), url("../../assets/HeroImage7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.hero .hero__particles {
  z-index: 1;
  position: absolute;
  top: 60vh;
  left: 0;
  max-width: 100vw;
}

.hero .hero__particles img {
  width: 100%;
}

.hero__description {
  z-index: 100;
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__description .hero__description-content {
  width: 600px;
}

.hero__description .hero__description-content {
  z-index: 100;
  margin-left: 190px;
}

.hero__description .hero__description-content .hero__description-title {
  position: relative;
  color: #ffffff;
  font-weight: 100;
  font-size: 3.5rem;
}

.hero__description .hero__description-content .hero__description-text {
  position: relative;
  color: #ffffff;
  margin-top: 20px;
}

.main-cta {
  position: relative;
  z-index: 100;
  margin-top: 20px;
  display: inline-block;
  padding: 15px 30px;
  background: #01bdfe;
}

@media (max-width: 1200px) {
  .hero__description .hero__description-content {
    margin-left: 0;
    width: 90%;
  }
}

.hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 1.7rem;
  margin-left: -200px;
  text-transform: uppercase;
}

.logo__light {
  font-weight: 200;
}

a {
  color: #ffffff;
}

.hero__nav-items {
  margin-left: auto;
}

.hero__nav-items li {
  display: inline;
}

.hero__nav-items li a {
  margin-left: 25px;
  padding-bottom: 39px;
}

.hero__nav-items li a:hover, .hero__nav-items li a:active {
  border-bottom: 2px solid #01bdfe;
}

.hero__nav-items li .active {
  border-bottom: 2px solid #01bdfe;
}

.mobile {
  display: none;
  margin-left: auto;
  padding: 15px 17px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  z-index: 600;
}

.mobile i {
  color: #ffffff;
}

.hero__nav-lang {
  margin-left: 90px;
}

.hero__nav-lang li {
  display: inline;
}

.hero__nav-lang li a {
  margin-right: 25px;
  color: #51545a;
}

.hero__nav-lang li a:hover, .hero__nav-lang li a:active {
  color: #ffffff;
}

.hero__nav-lang li .active {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .hero__nav-items {
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .nav__active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .hero__nav-lang {
    display: none;
  }
  .mobile {
    display: block;
  }
}

.train {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  color: #ffffff;
}

.train .train__square-white {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  left: -150px;
  top: 300px;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
          box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
}

.train .train__square-blue {
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: #01bdfe;
  left: 100px;
  top: 500px;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.train .train__container {
  max-width: 600px;
  text-align: center;
}

.train .train__container .section__header {
  position: relative;
  z-index: 200;
  font-size: 2.5rem;
  font-weight: 100;
}

.train .train__container .section__text {
  position: relative;
  z-index: 200;
  margin-top: 20px;
  font-weight: 100;
}

.train .train__icons {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (220px)[5];
      grid-template-columns: repeat(5, 220px);
  -ms-grid-rows: 110px 110px;
      grid-template-rows: 110px 110px;
}

.train .train__icons .train__icons-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.train .train__icons .train__icons-icon .icon__container {
  height: 50px;
}

.train .train__icons .train__icons-icon .icon__container .icon {
  height: 100%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.train .train__icons .train__icons-icon h4 {
  margin-top: 10px;
  font-weight: 100;
}

@media (max-width: 1200px) {
  .train .train__container {
    max-width: 90%;
  }
  .train .train__icons {
    -ms-grid-columns: (220px)[2];
        grid-template-columns: repeat(2, 220px);
  }
}

@media (max-width: 750px) {
  .train .train__square-white {
    display: none;
  }
  .train .train__square-blue {
    display: none;
  }
}

.services {
  margin-top: 300px;
  position: relative;
}

.services__bacground-container {
  top: -100px;
  position: absolute;
  max-width: 100vw;
}

.services__bacground-container img {
  width: 100%;
}

.services__background-footballer {
  position: absolute;
  top: -150px;
  right: 0;
}

.services__header-container {
  width: 50%;
  margin-left: 85px;
}

.services__header-container .services__header {
  position: relative;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
}

.service__item-container {
  width: 90%;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  gap: 45px;
  color: #ffffff;
  -ms-grid-columns: (minmax(315px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}

.service__item-container .service__item {
  position: relative;
  padding: 10px;
  background-color: #232529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__item-container .service__item .service__item-header {
  margin-bottom: 10px;
  font-weight: 100;
}

.service__item-container .service__item .service__item-text {
  font-weight: 100;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

.service__link-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__link {
  display: inline-block;
  padding: 20px 75px;
  border: 1px solid #ffffff;
}

@media (max-width: 1200px) {
  .services__header-container {
    margin-left: 45px;
  }
}

@media (max-width: 800px) {
  .services__header-container {
    width: 90%;
  }
}

.quote {
  margin-top: 150px;
  position: relative;
}

.quote__image {
  position: absolute;
  top: -250px;
  width: 500px;
  left: 0;
}

.quote__image img {
  width: 100%;
}

.quote__item {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 60%;
  background-color: #2cc1db;
  padding: 45px 70px;
}

.quote__item .quote__text {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 700px) {
  .quote__image {
    display: none;
  }
  .quote__item {
    width: 80%;
  }
}

.references {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 150px auto 0 auto;
  color: #ffffff;
}

.references__heding {
  font-weight: 100;
}

.references__square-white {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  right: -300px;
  top: 0;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
          box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
}

.references__square-blue {
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: #01bdfe;
  right: 130px;
  top: 80px;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reference .reference__info {
  width: 50%;
}

.reference .reference__info .reference__info-text {
  font-weight: 100;
  padding-right: 50px;
}

.reference .reference__info .reference__info-name {
  font-size: 1rem;
  margin-top: 10px;
}

.reference .reference__info .reference__info-position {
  margin-left: 10px;
  font-weight: 100;
}

.reference .reference__info .reference__link-container {
  margin-top: 20px;
}

.reference .reference__image {
  position: relative;
  z-index: 100;
  width: 50%;
  max-width: 480px;
}

.reference .reference__image img {
  width: 100%;
}

@media (max-width: 1250px) {
  .references__square-white {
    display: none;
  }
  .references__square-blue {
    display: none;
  }
  .reference {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reference .reference__info {
    width: 100%;
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .reference .reference__info .reference__info-text {
    padding-right: 0;
  }
}

.about {
  position: relative;
  margin: 100px auto 0 auto;
  width: 80%;
  color: #ffffff;
}

.about__square-blue {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: #01bdfe;
  left: -300px;
  top: 0;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
          box-shadow: 20px 20px 80px 80px rgba(1, 189, 254, 0.1);
}

.about__square-white {
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  left: 30px;
  top: 450px;
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__container .about__image {
  position: relative;
  z-index: 200;
  width: 50%;
  max-width: 480px;
}

.about__container .about__image img {
  width: 100%;
}

.about__container .about__info {
  width: 50%;
  margin: 30px;
}

.about__container .about__info .about__info-heading {
  font-weight: 100;
}

.about__container .about__info .about__info-text {
  font-weight: 100;
  margin-top: 20px;
}

.about__container .about__info .about__link-container {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .about__square-blue {
    display: none;
  }
  .about__square-white {
    display: none;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container .about__image {
    width: 100%;
    margin: 0;
  }
  .about__container .about__info {
    width: 100%;
    margin: 0;
  }
}

.blog {
  margin-top: 100px;
  color: #ffffff;
  z-index: 50;
}

.separator {
  height: 300px;
  background-color: #ffffff;
  margin-top: -400px;
}

.blog__heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__heading-container .blog__heading {
  font-weight: 100;
  font-size: 2rem;
}

.blog__container-outer {
  width: 80%;
  margin: 0 auto;
}

.blog__container {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "run run lifting lifting" "run run cycling boxing";
}

.blog__container .blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog__container .blog__item .blog__item-content {
  margin: 0 0 20px 20px;
}

.blog__container .running {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: run;
  background: -webkit-gradient(linear, left bottom, left top, from(#2cc1db), color-stop(45%, rgba(0, 212, 255, 0))), url("../../assets/running.jpg");
  background: linear-gradient(0deg, #2cc1db 0%, rgba(0, 212, 255, 0) 45%), url("../../assets/running.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__container .lifting {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lifting;
  background: -webkit-gradient(linear, left bottom, left top, from(#2cc1db), color-stop(45%, rgba(0, 212, 255, 0))), url("../../assets/lifting.jpg");
  background: linear-gradient(0deg, #2cc1db 0%, rgba(0, 212, 255, 0) 45%), url("../../assets/lifting.jpg");
  min-height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__container .cycling {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cycling;
  background: -webkit-gradient(linear, left bottom, left top, from(#2cc1db), color-stop(45%, rgba(0, 212, 255, 0))), url("../../assets/cycling.jpg");
  background: linear-gradient(0deg, #2cc1db 0%, rgba(0, 212, 255, 0) 45%), url("../../assets/cycling.jpg");
  background-position: top;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__container .boxing {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: boxing;
  background: -webkit-gradient(linear, left bottom, left top, from(#2cc1db), color-stop(45%, rgba(0, 212, 255, 0))), url("../../assets/box.jpg");
  background: linear-gradient(0deg, #2cc1db 0%, rgba(0, 212, 255, 0) 45%), url("../../assets/box.jpg");
  min-width: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .blog__container {
        grid-template-areas: "run run lifting lifting" "cycling cycling boxing boxing";
  }
}

@media (max-width: 700px) {
  .blog__container {
        grid-template-areas: "run run run run" "lifting lifting lifting lifting" "cycling cycling cycling cycling" "boxing boxing boxing boxing";
  }
  .running {
    min-height: 200px;
  }
  .boxing {
    min-height: 200px;
  }
}

.contact {
  position: relative;
  margin-top: 250px;
  text-align: center;
  color: #ffffff;
  height: 400px;
}

.contact .contact__heading {
  font-weight: 100;
  font-size: 2rem;
  position: relative;
  z-index: 10;
}

.contact .contact__link-container {
  margin-top: 50px;
  position: relative;
  z-index: 10;
}

.basketball__container {
  position: absolute;
  z-index: 0;
  top: -60px;
  right: 100px;
  width: 500px;
  opacity: 0.3;
}

.basketball__container img {
  width: 100%;
}

.footer {
  overflow: hidden;
  color: #ffffff;
  height: 200px;
  position: relative;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #01bdfe;
  position: absolute;
  bottom: -75px;
  right: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 100px 30px rgba(25, 163, 255, 0.2);
          box-shadow: 0px 0px 100px 30px rgba(25, 163, 255, 0.2);
}

.climbing {
  position: absolute;
  top: 16px;
  right: 55%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left-separator {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 1px;
  background-color: lightslategray;
  width: 120%;
}

.footer__left-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__link {
  font-weight: 100;
  color: #01bdfe;
  text-decoration: underline;
}

.footer__right-separator {
  margin-left: auto;
  width: 80%;
  height: 1px;
  background-color: lightslategray;
  margin-top: 30px;
  margin-bottom: 40px;
}

.copyright {
  margin-left: auto;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right .footer__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right .footer__nav-items li a {
  margin-left: 25px;
}

.footer__right .footer__nav-social {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right .footer__nav-social a {
  margin: 0 5px;
}

.footer__right .footer__nav-social a span {
  padding: 3px 5px;
  border: 1px solid #ffffff;
}

@media (max-width: 1200px) {
  .square {
    display: none;
  }
  .climbing {
    display: none;
  }
  .footer__left-separator {
    display: none;
  }
  .footer__right-separator {
    display: none;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .footer__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  .copyright {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .footer {
    height: 100%;
  }
  .footer__right .footer__nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__right .footer__nav-items li {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */